.buttonsContainer {
    display: flex;
    gap: 30px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px 0;
}

.imageContainer {
}

.image {
}

.textContainer {
    max-width: 500px;
}

.code {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
}

.text {
}

.info {
}