.input:focus {
    outline: none;
}

.input {
    height: 30px;
    width: 250px;
    border: 1px solid #cbc9c9;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;

}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    color: red;

}

.superInput {
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
}

.error {
}
