.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px #b6b1b1;
    font-size: 14px;
    align-items: center;
}

.header h1 {
}